* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    
}

#nav {
    height: 60px;
    width: 100%;
    background-color: rgb(24,24,24);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
 a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;

}

#center {
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
}

#center h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
}

#center h4 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 5px;
    font-size: 40px;
}

#links button {
    background-color: royalblue;
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
}


img {
    height: 58%;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
}