*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

@mixin border($width, $style, $color) {
    border: $width $style $color;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: darkblue;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
                        "body body2 body2 body2"
                        "body body2 body2 body2"
                        "body footer1 footer2 footer3"
                        "body footer1 footer2 footer3";

            .body{
                @include border(15px, solid, black);
                grid-area: body;
                background-color: white;
                object-fit: cover;
            }

            .body2{
                @include border(15px, solid, black);
                grid-area: body2;
                background-color: black;
                object-fit: cover;
            }

            #footer1{
                @include border(15px, solid, black);
                grid-area: footer1;
                background-color: red;
                object-fit: cover;
            }

            #footer2{
                @include border(15px, solid, black);
                grid-area: footer2;
                background-color: green;
                object-fit: cover;
            }

            #footer3{
                @include border(15px, solid, black);
                grid-area: footer3;
                background-color: yellow;
                object-fit: cover;
                
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }


}