*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{ 
    height: 100vh; 
    width: 100vw; 
    background-color: lightblue; 
    display : flex; 
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;

 }

 .card {
height: 300px; 
width: 250px; 
background-color: white;
box-shadow: 10px 10px 20px black; 
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.card h2 {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: #333;
}
.card p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #888;
}
.card button {
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(52, 204, 255);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background-color: red;
    transition: 0.3s;
    }

.card img{
    height: 100px; 
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px lightslategrey;

}