*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;

}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 10px;
    padding: 5px;

    grid-template-areas:"header header header"
                        "section section section"
                        "div1 div2 div3"
    ;
}

header{
    background-color: red;
    grid-area: header;
}

section{
    background-color: green;
    grid-area: section;
}
#div1{
    grid-area: div1;
    background-color: brown;
}

#div2{
    grid-area: div2;
    background-color: blue;
}

#div3{
    grid-area: div3;
    background-color: yellow;
}