* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}  

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
    color: black;
}

#nav {
    padding: 10px 30px;
}

#nav a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin-right: 30px;

}

#main>h1 {
    font-weight: 400;
    font-size: 300px;
    padding-left: 70px;
}

#btmleft {
    position: absolute;
    bottom: 20%;
    left: 3%;
    width: 250px;
}

#btmleft h4 {
    margin-top: 30px;
}

#bottombar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottombar a {
    color: black;
    font-size: 32px;
    text-decoration: none;
    margin-right: 30px;
}

#main>img {
    position: absolute;
    height: 350px;
}

#first {
    height: 300px !important;
    top: 40%;
    left: 70%;
}

#second {
    height: 300px !important;
    top: 55%;
    left: 55%;
}

#third {
    height: 250px !important;
    top: 50%;
    left: 45%;
}