@font-face {
    font-family: 'Horror';
    src: url('./Darkmode\ demo-Regular.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1552176625-e47ff529b595?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    text-align: center;

}
h1{
    font-family: 'Horror', sans-serif;
    color: white;
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    padding-top: 85px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    color: white;
    font-size: 50px;
    font-family: 'Horror', sans-serif;
    font-weight: 400;
}
button:hover{
    background-color: darkred;
}